/* =======================
Chrome/Firefox/Edgeなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
================================================================*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-size: 100%;
    vertical-align: baseline;
  }
  header, footer, nav, section, article, aside, figure, figcaption {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
    list-style-type: none;
  }


/*------------------------------------------*/

/*----------------------------------------------------------*/
/* 全体*/
/*----------------------------------------------------------*/

body {
    font-family: "Lato", sans-serif;
    background-color: gray;
  }

.mb-100 {
    margin-bottom: 100px;
}
.mb-70 {
    margin-bottom: 70px;
}
.mb-120 {
    margin-bottom: 120px;
}

/*----------------------------------------------------------*/
/* header*/
/*----------------------------------------------------------*/
.container{
    background-color: white;
    width: 1280px;
    margin: 0 auto;
}

.header{
    /* background-color: greenyellow; */
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;   
}
.header-inner {
    display: flex;
    justify-content: space-between;
}

.h1-logo {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    background: #EE6557;
    width: 200px;
    height: 90px;
    text-align: center;
    padding: 0.7em 0;
}

.nav-menu {
    display: flex;
}
.nav-menu-title {
    font-size: 18px;
    color: #333333;
    margin: 29px 0 0 24px;
    cursor : pointer;
}
.nav-menu-title:hover {
    color: hotpink;
}

.main-visual {
    max-width: 1280px;
    text-align: right;
    position: relative;
}
.main-visual img {
    max-width: 980px;
    width: 100%;
}

.main-visual-title {
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    text-align: left;
    line-height: 1.7;
    top: 60%;
    left: 8%;
}

/*----------------------------------------------------------*/
/* main*/
/*----------------------------------------------------------*/

.main-feature {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}
.main-title {
    text-align: center;
}
.h2-main-feature {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    position: relative;
}
.h2-main-feature::after {
    content: "";
    display: block;
    width: 80px;
    height: 8px;
    background-color: #ee6557;
    position: absolute;
    bottom: -20px;
    left: 46%;
}

/*----------------------------------------------------------*/
/* main-inner*/
/*----------------------------------------------------------*/
.main {
    max-width: 1080px;
    width: 100%;
}
.main-inner {
    max-width: 1080px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.main-box {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.main-inner-box {
    margin: 0 auto;
}
.h3-main-title {
    font-size: 36px;
    color: #666;
    margin-left: 25%;
    margin-right: 25%;
}

.main-text-box {
    background-color: #F4F4F4;
    width: 540px;
    height: 300px;
    position: absolute;
    /* z-index: 1; */
}
.main-title-text {
    font-size: 14px;
    color: #666;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 80px;
}
.main-text {
    font-size: 20px;
    color: #666;
    line-height: 2em;
    margin-left: 10%;
    margin-right: 10%;
}

.main-img-top {
    position: relative;
    margin-top: 10%;
    /* z-index: 2; */
}
.main-img-top img {
    max-width: 1080px;
    width: 100%;
    width: 600px;
    height: 300px;
}

/*----------------------------------------------------------*/
/* main-inner2*/
/*----------------------------------------------------------*/

.main-inner2 {
    max-width: 1080px;
    width: 100%;
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-between;
}

.main-box2 {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.main-inner-box2 {
    margin: 0 auto;
}
.h3-main-title2 {
    font-size: 36px;
    color: #666;
    margin-left: 25%;
    margin-right: 25%;
}

.main-text-box2 {
    background-color: #F4F4F4;
    width: 540px;
    height: 300px;
    /* position: absolute; */
    margin-left: -10%;
    z-index: 2; 
}

.main-title-text2 {
    font-size: 14px;
    color: #666;
    margin-left: 40%;
    margin-right: 35%;
    margin-bottom: 80px;
}
.main-text2 {
    font-size: 20px;
    color: #666;
    line-height: 2em;
    margin-left: 20%;
    margin-right: 10%;
}

.main-img-top2 {
    /* position: relative; */
    z-index: 1;
    /* margin-top: 10%; */
}

.main-img-top2 img {
    max-width: 1080px;
    width: 100%;
    width: 600px;
    height: 300px;
}

/*----------------------------------------------------------*/
/* main-products*/
/*----------------------------------------------------------*/


.h2-main-products {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    position: relative;
    margin-top: 100px;
}
.h2-main-products::after {
    content: "";
    display: block;
    width: 80px;
    height: 8px;
    background-color: #ee6557;
    position: absolute;
    bottom: -20px;
    left: 47%;
}

.products-inner {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.products-img {
    margin-bottom: 20px;
}

.products-text {
    font-size: 16px;
    color: #000;
    display: grid;
    place-items: center;
    margin-bottom: 20px;
}

.products-rink {
    font-size: 16px;
    color: #666;
    display: grid;
    place-items: center;
    border: 1px solid #666;
    width: 149px;
    height: 48px;
    margin: 0 auto;
    position: relative;
}

.products-rink::after {
    content: '>';
    color: #666;
    position: absolute;
    left: 8em;
}

/*----------------------------------------------------------*/
/* main-access*/
/*----------------------------------------------------------*/

.main-access {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.h2-main-access {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    position: relative;
    margin-top: 100px;
}
.h2-main-access::after {
    content: "";
    display: block;
    width: 80px;
    height: 8px;
    background-color: #ee6557;
    position: absolute;
    bottom: -20px;
    left: 47%;
}

.access-inner {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.access-box {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.access-img {
    z-index: 2;
    margin-top: 85px;
}

.access-img img {
    width: 750px;
    height: 270px;
}

.access-text {
    max-width: 1280px;
    margin: 0 auto;
    width: 640px;
    height: 420px;
    background: #F4F4F4;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 1;
    left: 0;
}

.footer {
    margin-top: 100px;
    font-size: 14px;
    color: #FFF;
    background-color: #666;
    height: 60px;
    display: grid;
    place-items: center;
}